<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <%- include('partials/header.ejs') %>

    <h1>Create New Product</h1>
    <p>Vous êtes connecté à la zone membre.</p>

    <form action="/api/account/logout" method="POST">
        <button type="submit">Se déconnecter</button>
    </form>

    <h2>Ajouter un produit</h2>
    <form action="/shop/admin/add/product" method="POST">
        <label for="title">Titre :</label>
        <input type="text" name="title" id="title" required>

        <label for="price">Prix :</label>
        <input type="number" name="price" id="price" step="0.01" required>

        <label for="description">Description :</label>
        <textarea name="description" id="description" rows="4" cols="50"></textarea>
        <select class="form-select" name="category_id" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <% categories.forEach(catogory => { %>
                <option value="<%= catogory._id %>"><%= catogory.category_name%></options>
        <% }); %>
          </select>


        <button type="submit">Créer le produit</button>
    </form>

    <a href="/shop">Shop</a>

    <%- include('partials/footer') %>
</body>
</html>
